<div class="container">
    <app-notfound *ngIf="error"></app-notfound>
    <br>
    <input [formControl]="findControl" type="text" class="form-control mr-sm-2" placeholder="Search Github User">
    <br>
    <div class="card">
        <div class="card-header">
            <h1 class="text-center"> public repositories</h1>
        </div>
        <div class="card-body">
            <table class="table">
                <input [formControl]="findControl" (keyup)="applyFilter($event.target.value)" type="text" class="form-control mr-sm-2" placeholder="Filtrar">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Url git</th>
                        <th scope="col">Default branchs</th>
                        <th scope="col">Language</th>
                    </tr>
                </thead>
                <tbody *ngFor="let repo of user.repositories">
                    <tr class="table-active">
                        <th scope="row">{{repo.name}}</th>
                        <td>{{repo.description}}</td>
                        <td><a href="{{repo.html_url}}">{{repo.git_url}}</a></td>
                        <td>{{repo.default_branch}}</td>
                        <td>{{repo.language}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>